<div class="footer">
  <h3 class="letras d-flex justify-content-center">
    ¿Quieres ver Netflix ya? Ingresa tu email para crear una cuenta o reiniciar tu membresía de Netflix.
  </h3>

  <div class="cuadro-email d-flex justify-content-center">
    <label for="exampleFormControlInput1" class="form-label"></label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="email">
    <div>

      <button class="btn-big d-flex justify-content-center" type="submit" >
        Comenzar <i class="bi bi-arrow-right-short"> </i>
      </button>

    </div>
  </div>

</div>
