h3{
  color: white;
  margin-top: 36px;
}
form{
  text-align: center;
}

.btn-big{
  font-size: 25px;
  width: fit-content;
  height: fit-content;
  font-weight: 500;
  background-color: red;
}

.cuadro-email{
  width: 430px;
  margin-left: 700px;
  height: 40px;
}
