<div class="zonadescargas d-flex justify-content-center">

  <div class="demostraciondescarga">
    <img src="../../assets/promocionaltelefono.jpg">
  </div>


  <div class="card-container">
    <div class="imaga-container">
      <img src="../../assets/imagen de descarga.png">
    </div>

    <div class=" titulo contenido d-block">
      <div>
        <p> <b>Stranger Things</b> </p>
      </div>
      <div class="descargando">
        <p>Descargando...</p>
      </div>
    </div>

    <div class="assetdedescarga">
      <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif" alt="">
    </div>
  </div>



  <div class="letras">
    <h2>
      <b>
        Descarga tus series para <br>
        verlas offline
      </b>
    </h2>

    <p>
      Ve Netflix en un avión, un tren o un <br>
      submarino...
    </p>
  </div>

</div>
