.letras{
  color: white;
  margin-top: 175px;
}

.titulo{
  text-align: left;
}

.descargando{
  font-weight: 400;
  color: #0071eb;
}

.titulo{
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.assetdedescarga{
  height: 60px;
  width:  48px;
  background-size: 100%;
}

.card-container{
  display: flex;
  align-items: center;
  background: linear-gradient(45deg,#000000, #000000);
  border:3px solid #333;
  border-radius:10px;
  padding: 10ps;
  width: 300px;
  height: 100px;
  color: white;
  box-shadow: 04px 8px rgba (0,0,0,0.3);
}
