.preguntasfrecuentes {
  width: 100%;
}
.titulo {
  text-align: center;
  color: white;
  margin-top: 180px;
}

.accordion-bg   {
  background-color: gray;
  color: white;
  width: 150px;
  height: 150px;
}

.accordion-color{
  color: white;
}
.h2{
  color: white;
}

/* $accordion-body-padding-y:                $accordion-padding-y;
$accordion-body-padding-x: */
