<!-- <div class="preguntas frecuentes">


  <div class="seccion preguntas">
    <ul>
      <li>
        <h3>
          ¿Qué es Netflix?
        </h3>
        <button aria-expanded="false" aria-controls="content-"></button>
      </li>
    </ul>
  </div>



</div>  -->


<div class="titulo">
  <h2 >
    <b>
      Preguntas frecuentes
    </b>
  </h2>
</div>

<div class="preguntasfrecuentes d-flex justify-content-center">


  <div class="accordion accordion-flush" id="accordionFlushExample">


    <div class="accordion-item" style="background-color: #2D2D2D;">
      <h2 class="accordion-header" id="flush-headingOne" >
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" style="background-color: #2D2D2D;"
          data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          ¿Qué es Netflix?
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          Netflix es un servicio de streaming que ofrece una gran variedad de películas, series
          y <br>
          documentales premiados en casi cualquier pantalla conectada a internet. <br>
          Todo lo que quieras ver, a un costo mensual muy accesible. Siempre hay algo nuevo por <br>
          descubrir, ¡y todas las semanas se agregan más películas y series
        </div>
      </div>
    </div>


    <div class="accordion-item" style="background-color: #2D2D2D;">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" style="background-color: #2D2D2D;"
          data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          ¿Cuánto cuesta Netflix?
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Disfruta Netflix en tu smartphone, tablet, smart TV, laptop o dispositivo de
          streaming, todo <br>
          por una tarifa plana mensual. Planes desde $99 hasta $299 al mes. Sin costos adicionales <br>
          ni contratos.</div>
      </div>
    </div>


    <div class="accordion-item" style="background-color: #2D2D2D;">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" style="background-color: #2D2D2D;"
          data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          ¿Dónde puedo ver Netflix?
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Disfruta donde quieras, cuando quieras. Inicia sesión en tu cuenta de Netflix para
          ver
          <br>
          contenido al instante a través de netflix.com desde tu computadora personal o en cualquier <br>
          dispositivo con conexión a internet que cuente con la app de Netflix, como smart TV, <br>
          smartphones, tablets, reproductores multimedia y consolas de juegos. <br><br>
          Además, puedes descargar tus series favoritas con la app para iOS o Android. Con la <br>
          función de descarga, puedes ver contenido donde vayas y sin conexión a internet. Lleva <br>
          Netflix contigo adonde sea.
        </div>
      </div>
    </div>


    <div class="accordion-item" style="background-color: #2D2D2D;">
      <h2 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" style="background-color: #2D2D2D;"
          data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
          ¿Cómo cancelo?
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          Netflix es flexible. Sin contratos molestos ni compromisos. Cancela la membresía online <br>
          con solo dos clics. No hay cargos por cancelación. Empieza y termina cuando quieras.</div>
      </div>
    </div>


    <div class="accordion-item" style="background-color: #2D2D2D;">
      <h2 class="accordion-header" id="flush-headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" style="background-color: #2D2D2D;"
          data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
          ¿Qué puedo ver en Netflix?
        </button>
      </h2>
      <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          Netflix tiene un amplio catálogo de películas, series, documentales, animes, originales <br>
          premiados y más. Todo lo que quieras ver, cuando quieras.</div>
      </div>
    </div>


    <div class="accordion-item" style="background-color: #2D2D2D;">
      <h2 class="accordion-header" id="flush-headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" style="background-color: #2D2D2D;"
          data-bs-target="#flush-collapsgSix" aria-expanded="false" aria-controls="flush-collapsgSix">
          ¿Es bueno Netflix para los niños?
        </button>
      </h2>
      <div id="flush-collapsgSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          La experiencia de Netflix para niños está incluida en la membresía para que los padres <br>
          tengan el control mientras los peques disfrutan series y películas familiares en su propio <br>
          espacio. <br><br>
          Los perfiles para niños incluyen controles parentales protegidos por PIN que te permiten <br>
          restringir el contenido que pueden ver los niños en función de la clasificación por edad y <br>
          bloquear determinados títulos que no quieras que los niños vean</div>
      </div>
    </div>


  </div>
</div>
