<div class="preguntas">

  <div class="titulo">
    <p>¿Preguntas? llama al <a href="tel: 800 9531430 "></a> 800 9531430 </p>
  </div>

  <div class="ordenamiento">
    <ul>
      <li>
        <a role="link" href="https://help.netflix.com/es/node/412"> Preguntas frecuentes</a>
      </li>

      <li>
        <a role="link" href="https://ir.netflix.net/ir-overview/profile/default.aspx">Relaciones con inversionistas</a>
      </li>

      <li>
        <a role="link" href="https://www.netflix.com/gift-cards">Compra tarjetas de regalo</a>
      </li>

      <li>
        <a role="link" href="https://www.netflix.com/mx/#">Preferencias de cookies</a>
      </li>

      <li>
        <a role="link" href="https://help.netflix.com/legal/notices">Avisos legales</a>
      </li>
    </ul>
    <ul>
      <li>
        <a role="link" href="https://help.netflix.com/es"> Centro de ayuda</a>
      </li>

      <li>
        <a role="link" href="https://jobs.netflix.com/"> Empleo</a>
      </li>

      <li>
        <a role="link" href="https://help.netflix.com/es/node/14361">Formas de ver</a>
      </li>

      <li>
        <a role="link" href="https://help.netflix.com/es/node/134094">Informacion corpotariva</a>
      </li>

      <li>
        <a role="link" href="https://www.netflix.com/mx/browse/genre/839338">Solo en Netflix</a>
      </li>

    </ul>
    <ul>
      <li>
        <a role="link"
          href="https://www.netflix.com/login?nextpage=https%3A%2F%2Fwww.netflix.com%2Fyouraccount">Cuenta</a>
      </li>

      <li>
        <a role="link" href="https://www.netflix.shop/">Tienda Netflix</a>
      </li>

      <li>
        <a role="link" href="https://help.netflix.com/legal/termsofuse">Terminos de uso</a>
      </li>

      <li>
        <a role="link" href="https://help.netflix.com/es/contactus">Contactanos</a>
      </li>
    </ul>

    <ul>
      <li>
        <a role="link" href="https://media.netflix.com/es/"> Prensa</a>
      </li>

      <li>
        <a role="link" href="https://www.netflix.com/mx/redeem">Canjear tarjetas de regalo</a>
      </li>

      <li>
        <a role="link" href="https://help.netflix.com/legal/privacy">Privacidad</a>
      </li>

      <li>
        <a role="link" href="https://fast.com/es/">Prueba de velocidad</a>
      </li>
    </ul>













    <div class="hastaabajo">
      <div class="d-flex align-items-center w-50 h-100 justify-content-center">
        <i style="color: white;" class="bi bi-translate me-2 fs-4"></i>
        <label for="idiomas">
          <select name="idioma" id="idiomas">
            <button type="button" class="btn-close" aria-label="Close"></button>
            <option value="Español">Español</option>
            <option value="English">English</option>
            <option value="CHileno">Chileno</option>
          </select>
        </label>
      </div>

      <div class="NetflixMexico">
        <p>Netflix Mexico</p>
      </div>
    </div>
  </div>
</div>
