p,a{
  color: gray;
}
.ordenamiento{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 300px;
  padding-right: 300px;
}

.titulo{
  padding-left: 300px;
  padding-right: 300px;
}
