img{
  width: 7%;
  height: 7%;
  margin-right: 1300px;
  margin-left: 90px;
}

button{
  margin: 15px;

}

h1,p{
  font-family: sans-serif;
  text-size-adjust: 100%;
  text-align: center;
  color: white;
}

form{
  text-align: center;
}

.palomitas{
  width: 96;
  height: 96;
  fill: none;
}

.plan{
  background-color: #791232;

  margin: right 10000px;
}
.contenidoplan{
  font-size: 16px;
  line-height: 24px;
  margin-top: 4px;
  margin-bottom: 8px;
}

body{
  background-image: url ("https://assets.nflxext.com/ffe/siteui/vlv3/51c1d7f7-3179-4a55-93d9-704722898999/7141564b-9e02-4ca6-adc8-46c267d174b0/MX-es-20240610-popsignuptwoweeks-perspective_alpha_website_large.jpg');");
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-position: center;
  background-repeat: no-repeat; /*evita que no se repita*/
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

