img{
  width: 7%;
  height: 7%;
  margin-right: 1300px;
  margin-left: 90px;
}

button{
  margin: 15px;

}

h1,p{
  font-family: sans-serif;
  text-size-adjust: 100%;
  text-align: center;
  color: white;
}

form{
  text-align: center;
}

.palomitas{
  width: 96;
  height: 96;
  fill: none;
}

.plan{
  background-color: #791232;

  margin: right 10000px;
}
.contenidoplan{
  font-size: 16px;
  line-height: 24px;
  margin-top: 4px;
  margin-bottom: 8px;
}


