<hr size="10px" color="grey">
<div class="titulo d-flex justify-content-center">
  <h2>
    <b>Preguntas frecuentes</b>
  </h2>
</div>

<div class="d-flex justify-content-center">
  <div class="accordion accordion-flush w-75" id="accordionFlushExample">
    <div class="accordion-item" style="background-color: #2D2D2D">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" style="background-color:#2D2D2D; color: white;" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          ¿Qué es Netflix?
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body" style="color: white;">
          <p>Netflix es un servicio de streaming que ofrece una gran variedad de películas, series y documentales premiados en casi cualquier pantalla conectada a internet. Todo lo que quieras ver, a un costo mensual muy accesible. Siempre hay algo nuevo por descubrir, ¡y todas las semanas se agregan más películas y series!</p>
        </div>
      </div>
    </div>
    <div class="accordion-item" style="background-color: #2D2D2D">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" style="background-color:#2D2D2D; color: white;" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Pregunta 2
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body" style="color: white;">
          <p>Contenido de la segunda pregunta.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item" style="background-color: #2D2D2D">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" style="background-color:#2D2D2D; color: white;" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Pregunta 3
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body" style="color: white;">
          <p>Contenido de la tercera pregunta.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item" style="background-color: #2D2D2D">
      <h2 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" style="background-color:#2D2D2D; color: white;" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
          Pregunta 4
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body" style="color: white;">
          <p>Contenido de la cuarta pregunta.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item" style="background-color: #2D2D2D">
      <h2 class="accordion-header" id="flush-headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" style="background-color:#2D2D2D; color: white;" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
          Pregunta 5
        </button>
      </h2>
      <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body" style="color: white;">
          <p>Contenido de la quinta pregunta.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item" style="background-color: #2D2D2D">
      <h2 class="accordion-header" id="flush-headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" style="background-color:#2D2D2D; color: white;" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
          Pregunta 6
        </button>
      </h2>
      <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body" style="color: white;">
          <p>Contenido de la sexta pregunta.</p>
        </div>
      </div>
    </div>
  </div>
</div>
