<!--<hr size="10px" color="grey">-->

<div class="titulo d-flex justify-content-center">
  <h2>
    <b>Preguntas frecuentes</b>
  </h2>
</div>

<div class="acordion" id="accordionEjemplo">
  <div class="accordion-item" *ngFor="let pregunta of preguntas; let i = index">
    <h2 class="accordion-header" id="heading{{i}}">
      <button class="accordion-button" type="button" [attr.aria-expanded]="pregunta.expanded" 
      (click)="togglePreguntasFrecuentes(i)">
        {{pregunta.pregunta}}
      </button>
    </h2>
    <div [id]="'collapse + i'" class="accordion-collapse collapse" [class.show]="pregunta.expanded"
         [attr.aria-lebelledby]="'heading'+ i" data-bs-parebt="#accordionEjemplo">
      <div class="accordion-body">
        {{pregunta.respuesta}}
      </div>
    </div>
  </div>
</div>
