<div class="parte2 d-flex justify-content-center" *ngFor="let p of publicidad; let par = even; let l = last ">
  <div *ngIf="par" class="contenido">
    <h1 class="Subtitulo2">{{p.titulo}}</h1>
    <p>{{p.descripcion}}</p>
  </div>
  <div *ngIf="par" class="videogif d-flex flex-column align-items-center">
    <img class="" [src]="p.imagen">
    <div *ngIf="l" class="d-flex justify-content-between align-items-center descarga-imagen px-3">

      <div class="w-25 h-100">
        <img class="h-75" src="../../assets/imagen-de-descarga.png">
      </div>

      <div class="d-flex flex-column w-50 h-100 justify-content-center">
        <h6>Stranger Things</h6>
        <a href="">Descargando ...</a>
      </div>

      <div class="w-25">
        <img class="w-75" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif" alt="">
      </div>

    </div>
  </div>
  <div *ngIf="!par"  class="videogif d-flex flex-column align-items-center">
    <img class="" [src]="p.imagen">
    <div *ngIf="l" class="d-flex justify-content-between align-items-center descarga-imagen px-3">

      <div class="w-25 h-100">
        <img class="h-75" src="../../assets/imagen-de-descarga.png">
      </div>

      <div class="d-flex flex-column w-50 h-100 justify-content-center">
        <h6>Stranger Things</h6>
        <a href="">Descargando ...</a>
      </div>

      <div class="w-25">
        <img class="w-75" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif" alt="">
      </div>

    </div>
  </div>
  <div *ngIf="!par"  class="contenido">
    <h1 class="Subtitulo2">{{p.titulo}}</h1>
    <p>{{p.descripcion}}</p>
  </div>

</div>



